Provide sufficient contrast against white background
a {
    color: #e32976;
}

code {
    color: #e32976;
}

.btn-primary {
    color: #fff;
    background-color: #1861ac;
    border-color: #1861ac;
}


