@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

.LRApp {
  text-align: center;
}

.LogIn {
    position: absolute;
    overflow: visible;
    width: 423px;
    height: 450px;
    margin: 50px 0px;
    padding: 0px;
    text-align: center;
    display: inline-block;
    background-color: #110458;
    font-family: 'Montserrat';
    text-align: center;
}


.signup_redirect {
    color: #e32976;
    text-align: center;
    font-size: 13px;
    padding-top: 10px;
    margin: 0;
    font-weight: 400;
    font-style: oblique;
    font-size: 10px;
    font-family: Montserrat;
}


/* Inactive/Active Default input field color */
.input-field input[type]:not([readonly]),
.input-field textarea:not([readonly]) {
    font-weight: 400;
    font-style: oblique;
    font-size: 10px;
    font-family: Montserrat;
    color:white;
    border-bottom: 2px solid #e32976;
}

.input-field input[type]:focus:not([readonly]) {
    border-bottom: 2px solid #FE76FF;
    box-shadow: 0 1px 0 0 #FE76FF;
}

.background {
    background-color: rgba(17,4,88,1);
}

.header {
    font-family: 'Montserrat';
   
}

.LRApp-logo {
  height: 40vmin;
}

.LRApp-header {
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.LRApp-link {
  color: #e32976;
}

.bold_oblique {
    color: white;
    font-weight: 600;
    font-style: oblique;
    font-size: 15px;
    text-align:left;
    font-family: Montserrat;
}

.simple_oblique {
    color: white;
    font-weight: 400;
    font-style: oblique;
    font-size: 10px;
    font-family: Montserrat;
    padding-top:3px;
    text-align:left;
}

::placeholder {
    color: white;
    font-weight: 400;
    font-style: oblique;
    font-size: 10px;
    font-family: Montserrat;
}

.myButton {
    margin: 0;
    margin-top: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: relative;
    background-color: transparent;
    border-radius: 28px;
    border: 2px solid #e32976;
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    font-family: Montserrat;
    font-style: normal;
    color: #e32976;
    font-weight: 500;
    padding: 2px 50px;
}

    .myButton:hover,
    .myButton:active {
        background-color: #e32976;
        color: white;
    }